.landing-page-content-root {
    width: 100%;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    padding: 10px;
}

.landing-page-vertical-content {
    margin-top: 15px;
}

.landing-page-title {
    color: white;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
}

.landing-page-content-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.landing-page-content-vertical-card-container {
    display: flex;
    gap: 20px;
}